#Allowlist
ALLOWED_EMAILS= # comma-separated list of allowed emails; if empty, no one can sign up

#Better Auth
BETTER_AUTH_SECRET= #random generated https://www.better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_URL=http://localhost:8787 # Base URL of your server
CORS_ORIGIN=http://localhost:5173 # url from client

# Google OAuth - get from GCP
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#LLMs
GOOGLE_GENERATIVE_AI_API_KEY= #get from Google AI Studio

#DB
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=
DATABASE_URL=  # need this for better auth stuff, not api stuff

# R2 Bucket Stuff
R2_ACCESS_KEY_ID=
R2_ACCESS_KEY_SECRET=
CLOUDFLARE_ACCOUNT_ID=